<div class="span-24 colborder" id="content">
  <% @photos.each do |obj| %>
    <div class="span-4 overflow_hidden">
      <a href="<%=photo_path(obj) %>" >
        <img src="<%=obj.file.url(:thumb)  %>" width="139px" height="139px" />
      </a>
    </div>
  <% end %>
</div>
