<div class="span-24" id="content">
  <% @photos.each do |obj| %>
    <div class="image_pane box">
      <a href="<%=photo_path(obj) %>" >
        <img src="<%=obj.file.url(:thumb)  %>" />
      </a>
      <p>
        <%=obj.content  %>
      </p>
    </div>
  <% end %>
</div>