
  <ul class="thumbnails">
  <% 1.upto 5 do%>
     <% @photos.each do |obj| %>
        <li class="span3">
          <div class="thumbnail">
            <a href="/photos/<%=obj.id %>"><img alt="" src="<%=obj.file.url(:thumb)  %>" width="260" height="180"></a>
            <div class="caption">
              <h5><%=obj.category.name %></h5>
              <p> <%=obj.content  %></p>
            </div>
          </div>
        </li>
          <% end %>
             <% end %>
</ul>
