development:
  adapter: mysql2
  encoding: utf8
  reconnect: false
  database: rails32project_development
  pool: 5
  username: root
  password: "123456"

test:
  adapter: mysql2
  encoding: utf8
  reconnect: false
  database: rails32project_test
  pool: 5
  username: root
  password: "123456"

production:
  adapter: mysql2
  encoding: utf8
  reconnect: false
  database: rails32project_production
  pool: 5
  username: root
  password: "123456"

