<div class="span-24">
  <% if notice -%>
    <p id="notice"><%= notice %></p>
  <% end -%>
  <div class="span-18">
    <div class="box overflow_hidden text-center">
      <%= image_tag  @photo.file.url, :alt => "#{@photo.content}", :width => "640px"  %>
    </div>
  </div>
  <div class="span-6 last">
    <h6>关于图片的描述</h6>
    <hr/>
    <p class="quiet">
      <%= @photo.content %>
    </p>
  </div>
</div>